# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# build and runtime
/.next/
/out/
/build
/coverage

# local environments
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
!.env.example

# vercel
.vercel

# local codex metadata
.agents/
.codex/

# editor and system files
.DS_Store
Thumbs.db
*.pem
.vscode/

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
pnpm-debug.log*

# typescript
*.tsbuildinfo
next-env.d.ts
