# APIs EauSure
EXPO_PUBLIC_AUTH_API_URL=
EXPO_PUBLIC_PROFILE_API_URL=
EXPO_PUBLIC_HARDWARE_API_URL=

# Carte
EXPO_PUBLIC_MAPBOX_TOKEN=pk.your_mapbox_token_here

# MQTT temps réel
EXPO_PUBLIC_MQTT_BROKER_URL=ws://broker.hivemq.com:8000/mqtt
EXPO_PUBLIC_MQTT_USERNAME=
EXPO_PUBLIC_MQTT_PASSWORD=
EXPO_PUBLIC_MQTT_TOPIC=water-quality/live-data
